.text {
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 5px;
	outline: none;
}
.error {
	-webkit-box-shadow: 6px 0px 31px -5px rgba(247,13,13,0.33);
	-moz-box-shadow: 6px 0px 31px -5px rgba(247,13,13,0.33);
	box-shadow: 6px 0px 31px -5px rgba(247,13,13,0.33);
}