body {
	padding: 0;margin: 0;
}
.main {
	height: 100vh;
	width: 100%;
	background: url(img/wallpapers-nature-01.jpg) 0 0 /cover;
}
.overlay {
	height: 100%;
	width: 100%;
	background: url(img/wallpapers-nature-01.jpg) 0 0 /cover;
	filter: blur(5px);
	visibility: hidden;
	opacity: 0;
}
.popup {
	width: 300px;
	height: 300px;
	background-color: #f3f3f3;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	padding: 10px 20px;
}
.popup-btn {
	position: absolute;
	left: 50%;
	bottom: 30px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	text-transform: uppercase;
	background-color: orange;
	color: #f3f3f3;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 10px;
}
.popup-img {
	height: 50%;
	width: 100%;
	margin: 0 auto;
	fill: transparent;
}
.active {
	visibility: visible;
	opacity: 1;
}